Loan PRediction

In [53]:
pip install streamlit

Requirement already satisfied: streamlit in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (1.41.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (5.5.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (8.1.7)
Requirement already satisfied: numpy<3,>=1.23 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (1.24.3)
Requirement already satisfied: packaging<25,>=20 in c:\users\akalyasubramaniane\appdata\roaming\python\python311\site-packages (from streamlit) (23.1)
Requirement already satisfied: pandas<3,>=1.4.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (10.3.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (5.29.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (13.9.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (4.12.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (3.1.44)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from streamlit) (0.9.1)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\akalyasubramaniane\appdata\roaming\python\python311\site-packages (from streamlit) (6.3.1)
Requirement already satisfied: jinja2 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from altair<6,>=4.0->streamlit) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from altair<6,>=4.0->streamlit) (4.17.3)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from altair<6,>=4.0->streamlit) (1.21.1)
Requirement already satisfied: colorama in c:\users\akalyasubramaniane\appdata\roaming\python\python311\site-packages (from click<9,>=7.0->streamlit) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\akalyasubramaniane\appdata\roaming\python\python311\site-packages (from pandas<3,>=1.4.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from pandas<3,>=1.4.0->streamlit) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.27->streamlit) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from requests<3,>=2.27->streamlit) (2024.12.14)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from rich<14,>=10.14.0->streamlit) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\akalyasubramaniane\appdata\roaming\python\python311\site-packages (from rich<14,>=10.14.0->streamlit) (2.15.1)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit) (2.1.2)
Requirement already satisfied: attrs>=17.4.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.19.3)
Requirement already satisfied: mdurl~=0.1 in c:\users\akalyasubramaniane\appdata\local\programs\python\python311\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit) (0.1.2)
Requirement already satisfied: six>=1.5 in c:\users\akalyasubramaniane\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
import pandas as pd
import sklearn as sk
import pickle
#import streamlit as st

# **Import data set**

In [13]:
#import the dataset
data=pd.read_csv('loan_approval_dataset.csv')
data

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

1.  Loan ID -- unique fr each
2.  no_of_dependents -- people dependent upon the applicant(family mem)
3. education -- grad /ng
4. self_employed -- working/not
5. income_annum --annual income
6. loan_amount -- requested loan amt
7. loan_term -- duration of loan(in yrs) (min 0 - max 20 yrs)
8. cibil_score --
9. res_asset --

Analyse the data
Remove Loan id field ,as it willl not be required for model

## **Pre Processing**

In [14]:
#analysis on data
data= data.drop('loan_id',axis=1)
data

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...
4264,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [15]:
data.columns

Index([' no_of_dependents', ' education', ' self_employed', ' income_annum',
       ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [16]:
#just removing the leading space before the column name like
# ' education' --> 'education'
data.columns=data.columns.str.strip()
data.columns

Index(['no_of_dependents', 'education', 'self_employed', 'income_annum',
       'loan_amount', 'loan_term', 'cibil_score', 'residential_assets_value',
       'commercial_assets_value', 'luxury_assets_value', 'bank_asset_value',
       'loan_status'],
      dtype='object')

residential,commercial,luxuary ---assets


---
club these as assets

In [17]:
data['Assets'] =data.residential_assets_value + data.commercial_assets_value + data.luxury_assets_value +data.bank_asset_value

In [18]:
data

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status,Assets
0,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved,50700000
1,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected,17000000
2,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected,57700000
3,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected,52700000
4,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected,55000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected,7400000
4265,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved,20000000
4266,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected,39000000
4267,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved,28800000
4268,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved,77300000

In [19]:
#remove those others assets as it wont b required
data.drop(columns = ['residential_assets_value','commercial_assets_value','luxury_assets_value','bank_asset_value'], inplace = True)

In [20]:
data

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,Assets
0,2,Graduate,No,9600000,29900000,12,778,Approved,50700000
1,0,Not Graduate,Yes,4100000,12200000,8,417,Rejected,17000000
2,3,Graduate,No,9100000,29700000,20,506,Rejected,57700000
3,3,Graduate,No,8200000,30700000,8,467,Rejected,52700000
4,5,Not Graduate,Yes,9800000,24200000,20,382,Rejected,55000000
...,...,...,...,...,...,...,...,...,...
4264,5,Graduate,Yes,1000000,2300000,12,317,Rejected,7400000
4265,0,Not Graduate,Yes,3300000,11300000,20,559,Approved,20000000
4266,2,Not Graduate,No,6500000,23900000,18,457,Rejected,39000000
4267,1,Not Graduate,No,4100000,12800000,8,780,Approved,28800000
4268,1,Graduate,No,9200000,29700000,10,607,Approved,77300000

In [21]:
#checking null values present in the dataset
data.isnull()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,Assets
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
4264,False,False,False,False,False,False,False,False,False
4265,False,False,False,False,False,False,False,False,False
4266,False,False,False,False,False,False,False,False,False
4267,False,False,False,False,False,False,False,False,False
4268,False,False,False,False,False,False,False,False,False

In [22]:
#summ the null values for clear view
data.isnull().sum()

no_of_dependents    0
education           0
self_employed       0
income_annum        0
loan_amount         0
loan_term           0
cibil_score         0
loan_status         0
Assets              0
dtype: int64

In [23]:
#if there are null values /missing values found --drop it
data.dropna(inplace=True)

In [24]:
#inorder to improve performance convert the string values into integer
#education -> grad--1 ,not grad--0
# before converting just check how its present

data.education.unique() #find the values present in this column ,unique-to get only the distinct terms found

array([' Graduate', ' Not Graduate'], dtype=object)

Remove the leading spaces before ' Graduate'

```
# use strip()
```
As this is a repetative process over here, to make it as a simple process we are creating a func n use it

In [25]:
def clean_data(st):
  st=st.strip()
  return st



```
clean_data(' Graduate')

o/p: 'Graduate'
```

In [26]:
#apply this func on education colm
#applying this in edu colum using [apply() func]
data.education = data.education.apply(clean_data)

In [27]:
#spaces are removed
data.education.unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [28]:
#convert string to num vales
#use replace( )func with parameters in square bracks
data.education=data['education'].replace(['Graduate',"Not Graduate"],[1,0])

C:\Users\AkalyaSubramaniane\AppData\Local\Temp\ipykernel_31044\1691301742.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.education=data['education'].replace(['Graduate',"Not Graduate"],[1,0])

In [29]:
data

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,loan_status,Assets
0,2,1,No,9600000,29900000,12,778,Approved,50700000
1,0,0,Yes,4100000,12200000,8,417,Rejected,17000000
2,3,1,No,9100000,29700000,20,506,Rejected,57700000
3,3,1,No,8200000,30700000,8,467,Rejected,52700000
4,5,0,Yes,9800000,24200000,20,382,Rejected,55000000
...,...,...,...,...,...,...,...,...,...
4264,5,1,Yes,1000000,2300000,12,317,Rejected,7400000
4265,0,0,Yes,3300000,11300000,20,559,Approved,20000000
4266,2,0,No,6500000,23900000,18,457,Rejected,39000000
4267,1,0,No,4100000,12800000,8,780,Approved,28800000
4268,1,1,No,9200000,29700000,10,607,Approved,77300000

Do the same process for remaing cols with string val

In [30]:
data.self_employed.unique()
data.self_employed =data.self_employed.apply(clean_data)

In [31]:
data.self_employed =data.self_employed.replace(['Yes' ,'No'],[1,0])
data.self_employed.unique()

C:\Users\AkalyaSubramaniane\AppData\Local\Temp\ipykernel_31044\2515918323.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.self_employed =data.self_employed.replace(['Yes' ,'No'],[1,0])

array([0, 1], dtype=int64)

Now change the loan status col

In [32]:
data.loan_status.unique()

array([' Approved', ' Rejected'], dtype=object)

In [33]:
data.loan_status =data.loan_status.apply(clean_data)
data.loan_status=data.loan_status.replace(['Approved','Rejected'],[1,0])

C:\Users\AkalyaSubramaniane\AppData\Local\Temp\ipykernel_31044\3080895614.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data.loan_status=data.loan_status.replace(['Approved','Rejected'],[1,0])

In [34]:
data.loan_status.unique()

array([1, 0], dtype=int64)

**split the dataset**

**scikit learn -model selection is used**

In [35]:
input =data.drop(columns=['loan_status'])
output= data.loan_status

In [36]:
input

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,Assets
0,2,1,0,9600000,29900000,12,778,50700000
1,0,0,1,4100000,12200000,8,417,17000000
2,3,1,0,9100000,29700000,20,506,57700000
3,3,1,0,8200000,30700000,8,467,52700000
4,5,0,1,9800000,24200000,20,382,55000000
...,...,...,...,...,...,...,...,...
4264,5,1,1,1000000,2300000,12,317,7400000
4265,0,0,1,3300000,11300000,20,559,20000000
4266,2,0,0,6500000,23900000,18,457,39000000
4267,1,0,0,4100000,12800000,8,780,28800000
4268,1,1,0,9200000,29700000,10,607,77300000

In [37]:
output

0       1
1       0
2       0
3       0
4       0
       ..
4264    0
4265    1
4266    0
4267    1
4268    1
Name: loan_status, Length: 4269, dtype: int64

In [38]:
#splitting -80,20
'''
x_train: The feature data for the training set (80% of the original input).
x_test: The feature data for the test set (20% of the original input).
y_train: The target data for the training set (80% of the original output).
y_test: The target data for the test set (20% of the original output).
'''


from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(input,output,test_size=0.2)

In [39]:
#to know abt the size of input data

x_train.shape,x_test.shape

((3415, 8), (854, 8))

In [40]:
#size of o/p data
y_train.shape,y_test.shape

((3415,), (854,))

d

Next thing is to do scaling

---
as there are int ranging in thousands and lacks in order to improve the performance of the model,do scaling

In [41]:
#scaling- use standard scalar func
from sklearn.preprocessing import StandardScaler
#store the scalar func() in an obj for easier access
scaler = StandardScaler()

#use scalar in the input data
x_train_scaled= scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

## **Model creation**

**Logistic regression model**

In [42]:
from sklearn.linear_model import LogisticRegression

In [43]:
#model creaiton  ---same as standard scalar ,use it in object
model=LogisticRegression()

model is created using the scaled values

In [44]:
#create model using trainig data
model.fit(x_train_scaled,y_train)

LogisticRegression()

model is tested

In [45]:
#predicitons
model.score(x_test_scaled,y_test)

0.9074941451990632

predicitons

In [46]:
#take vales for predicting
#here values are taken and stored in the form of table using dataframe

pred= pd.DataFrame([['2','1','0',	'9600000',	'29900000'	,'12'	,'778'	,'50700000']],columns=['no_of_dependents', 'education', 'self_employed', 'income_annum',
       'loan_amount', 'loan_term', 'cibil_score', 'Assets'])

In [47]:
pred=scaler.transform(pred)

In [48]:
model.predict(pred)

array([1], dtype=int64)

Model is working fineee.

## saving the model

Save the model using Pickle

In [49]:
import pickle as pk

In [50]:
pk.dump(model,open ('model.pkl','wb'))

In [51]:
pk.dump(scaler,open ('scaler.pkl','wb'))